<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div id="app">
    <div v-if="aaa"></div>
    <div v-else-if="bbb"></div>
    <div v-else></div>
    <div v-if="aaa"></div>
    <div v-else></div>
    <div v-if="aaa"></div>
    <div v-else></div>
    <div v-if="aaa"></div>
    <div v-for="(val, key) in this.list">
      {{val}} -- {{key}}
    </div>
    <div v-for="(val) in this.list" v-if="this.aaa">
      {{val}} -- {{key}}
    </div>
    aaaa{{this.age}}aaa
  </div>
  <script type="text/javascript" src="../dist/vm.js"></script>
  <script type="text/javascript">


  </script>
</body>

</html>